@font-face {
    font-family:raleway ;
    src: url(polices/Raleway-Regular.ttf)
}

#bloc_page{
    margin: auto;
    font-family: raleway;
    width: 70%;
}

header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
header div{
    width: 120px;
}
.logo img{
    width: 120px;
}

h2{
    font-size: 18px;
}

h1{
    font-size: 20px;
}

nav{
    width: 240px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
}

nav a{
    text-decoration: none;
    color: #000;
}

nav a:hover{
    color: #0065FC;
    text-decoration: overline 2px;
}

.description_site p{
    font-size: 18px;
    margin-top: 0;
}

.description_site h1{
    margin-bottom: 0;
}

.etoiles{
    display: inline-block;
    padding-left: 15px;
    height: 15px;
}

.fa-star{
    color: #0065FC;
    font-size: 10px;
    margin-top: 0;
}

.fa-star.grey{
    color: #F2F2F2;
    margin-top: 0;
}


/*section recherche*/

.recherche{
    height: 30px;
    width: 45%;
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    align-items: center;
    padding: 11px 0 11px 0;
    margin-bottom: 20px;
    
}

.icone_rechercher{
    display: none;
}

.recherche i{
    color: #000;
}

.recherche input{
    border: none;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.recherche a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #0065FC;
    color: #fff;
    padding: 15px;
    border-radius: 0 15px 15px 0;
}

.map a{
    width: 35px;
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
}


/*section filtres*/

.filtres{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filtres p{
    font-size: 20px;
    font-weight: bold;
}

.nom_filtre a{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    height: 49px;
    text-decoration: none;
    color: #000;
}

.nom_filtre a:hover{
    background-color: #deebff;
    border: 1px solid #0065FC;
}

.nom_filtre p{
    padding: 0 10px 0 10px;
}

.nom_filtre i{
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.info img{
    width: 20px;
    margin-right: 10px;
}


/*section hébergement*/

.heb_popu{
    display: flex;
    justify-content: space-between;
}

.hebergements{
    width: 60%;
    background-color: #F2F2F2;
    padding: 30px;
    border-radius: 20px;
}
.images_hebergements{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.images_hebergements img{ 
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.vignettes{
    height: 200px;
    width: 220px;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 5px;
    
}

.hebergements p, .populaire p{
    margin: 0;
    font-size: 12px;
    margin-left: 15px;
}

.hebergements p strong, .populaire p strong, .activites p strong{
    font-size: 16px;
    font-weight: bold;
}

.hebergements a, .populaire a, .activites a{
    text-decoration: none;
    color: #000;
}


/*section hébergement populaires*/

.populaire{
    background-color: #F2F2F2;
    width: 25%;
    padding: 30px;
    border-radius: 20px;
}
.populaire .titre{
    display: flex;
    justify-content: space-between;
}

.populaire .titre i{
    font-size: 20px;
    position: relative;
    top: 23px;
}

 .vignettes_popu img{
     width: 40%;
     height: 100%;
     object-fit: cover;
     border-radius: 15px 0 0 15px;
 }

.description{
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.vignettes_popu{
    height: 150px;
    display: flex;
    background-color: #FFF;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 5px;
}



/*section activités*/

.activites{
    margin-top: 40px;
}

.images_activites{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 350px;
}

.images_activites a{
    display: flex;
    flex-direction: column;
    width: 20%;
    border-radius: 15px 15px;
    box-shadow: grey 3px 3px 3px;
    overflow: hidden;
}

.images_activites p{ 
    font-size: 12px ;
    padding-left: 10px;
    height: 30px;
}

.images_activites img{
    overflow: hidden;
}


.vignette_activite1{
    height: 350px;
    width: 20%;
}

.vignette_activite1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vignette_activite2{
    height: 170px;
    width: 20%;
}

.vignette_activite2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vignette_activite3{
    height: 130px;
    width: 20%;
}

.vignette_activite3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vignette_activite4{
    height: 350px;
    width: 20%;
}

.vignette_activite4 img{
    height: 100%;
    width: 220%;
    object-fit: cover;
}

.vignette_activite5{
    height: 150px;
    width: 20%;
}

.vignette_activite5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vignette_activite6{
    height: 150px;
    width: 20%;
}

.vignette_activite6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*pied de page*/

footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding-right: 10%;
}



@media all and (max-width: 768px){
   
    #bloc_page{
        width: auto;
    }
    #bloc_page p{
        font-size: 10px;
    }
    h1{
        font-size: 15px;
    }
    h2{
        font-size: 12px;
    }

    header{
        flex-direction: column;
    }

    header div{
        width: 80px;
    }

    .logo img{
        width: 80px;
    }

    header div, header nav{
        margin: auto;
        top: 0;
    }

    header a:hover{
        text-decoration: 2px underline blue;
        color: #000;
    }


/*section recherche*/

    .recherche{
        height: 10px;
        border: 1px solid #F2F2F2;
        border-radius: 10px;
        align-items: center;
        padding: 11px 0 11px 0;
        margin-bottom: 20px;
    }
    
    .bouton_rechercher{
        display: none;
    }

    .icone_rechercher{
        display: block;
    }

    .icone_rechercher i{
        color: #FFF;
    }

    .recherche a{
        font-size: 10px;
    }
    
    .recherche input{
        font-size: 15px;
    }
    
    .map a{
        background-color: #F2F2F2;
    }
    

/*section filtres*/

    .filtres{
        justify-content: space-between 10px;
    }


    .nom_filtre a{
        height: 25px;
    }

    .nom_filtre i{
        font-size: 15px;
        height: 25px;
        width: 25px;
    }


/*section hébergement populaires*/

    .heb_popu{
        flex-direction: column-reverse;
    }

    .populaire{
        width: auto;
        border-radius: 0;
        padding: 10px;
    }
    .populaire .titre i{
        top: 13px;
    }

    .images_popu a{
        box-shadow: #F2F2F2 5px 5px 5px, #F2F2F2 -5px 0 5px;
    }

    .vignettes_popu{
        width: auto;
    }

    .vignettes_popu img{
        width: 60%;
    }


/*section hébergement*/

    .hebergements{
        width: auto;
        background-color: #FFF;
        padding: 10px;
    }


    .images_hebergements a{
        width: 100%;
        padding: 5px;
        box-shadow: #F2F2F2 5px 5px 5px, #F2F2F2 -5px 0 5px;
    }

    .images_hebergements img{
        width: 100%;
    }
    .images_hebergements p{
        margin-top: 10px;
    }
 

/*section activités*/

    .activites{
        width: auto;
    }
    .images_activites{
        height: fit-content;
    }

    .images_activites a{
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
        box-shadow: #F2F2F2 5px 5px 5px, #F2F2F2 -5px 0 5px;
    }

    .images_activites img{
        width: 100%;
        overflow: hidden;
    }


/*pied de page*/

    footer{
        flex-direction: column;
    }
}